## Pandas Recap and Data Types

In this activity, we will recap what we have learned about Pandas up to this point.

### Instructions

* Open ‘PandasRecap.ipynb’ under the ‘unsolved’ folder in your Jupyter notebook.

* Go through the cells, and follow the instructions in the comments.

In [23]:
# load dependencies
import pandas as pd

In [24]:
# create a reference to the `CT_fires_2015.csv` file
filepath = "../Resources/CT_fires_2015.csv"

# read the CSV into a pandas dataframe
ct_fires_raw = pd.read_csv("Resources/CT_fires_2015.csv")

# Print the first five rows of data to the screen
ct_fires_raw.head()

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3369: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Reporting Year,Fire Department Header Key,Fire Department Name,Incident date,Incident Number,Exposure Number,Fire Department Station,Incident Type Code,Incident Type,Aid Given or Received Code,...,Mized Use Property Codes,Mixed Use Property,Property Use Code,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Census Tract,Location
0,2015,CT06240,WATERBURY FIRE DEPARTMENT,05/11/2015,6499.0,0,07,440,"Electrical wiring/equipment problem, other.",N,...,NaN,NaN,962.0,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705,NaN,GREENLEAF AVE06705
1,2015,CT08180,THE TOWN OF SALEM,12/01/2015,24036.0,0,21,111,Building fire. Excludes confined fires (113–118).,3,...,NaN,NaN,NaN,NaN,Route 82,NaN,Salem,06420,NaN,Route 8206420
2,2015,CT08190,STONINGTON FIRE DEPT,09/07/2015,76.0,0,1,400,"Hazardous condition (no fire), other.",N,...,NaN,NaN,0.0,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378,NaN,Bayview AVE06378
3,2015,CT01012,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,1.0,0,1,444,Power line down. Excludes people trapped by do...,3,...,NaN,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065,NaN,Wallens Hill1 RD06065
4,2015,CT01070,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,37.0,0,NaN,150,"Outside rubbish fire, other.",N,...,NaN,NaN,936.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756,NaN,E east street south06756

In [25]:
# list(df.columns)
list(ct_fires_raw.columns)

['Reporting Year',
 'Fire Department Header Key',
 'Fire Department Name',
 'Incident date',
 'Incident Number',
 'Exposure Number',
 'Fire Department Station',
 'Incident Type Code',
 'Incident Type',
 'Aid Given or Received Code ',
 'Aid Given or Received',
 'Number of Alarms',
 'Alarm Date and Time',
 'Arrival Date and Time',
 'Incident Controlled Date and Time',
 'Last Unit Cleared Date and Time',
 'Fire Department Shift',
 'Actions Taken 1',
 'Actions Taken 2',
 'Actions Taken 3',
 'Number of Suppression Apparatus',
 'Number of Suppression Personnel',
 'Number of EMS Apparatus',
 'Number of EMS Personnel',
 'Number of Other Apparatus',
 'Number of Other Personnel',
 'Property Value',
 'Propery Loss',
 'Contents Value',
 'Contents Loss',
 'Fire Service Deaths',
 'Fire Service Injuries',
 'Other Fire Deaths',
 'Other Fire Injuries',
 'Detector Alerted Code',
 'Detector Alerted Occupants',
 'Hazardous Materials Released Code',
 'Hazardous Materials Released',
 'Mized Use Property Codes',
 'Mixed Use Property',
 'Property Use Code',
 'Property Use',
 'Incident Street Address',
 'Incident Apartment Number',
 'Incident City',
 'Incident Zip Code',
 'Census Tract',
 'Location']

In [26]:
#df2 = ct_fires_raw.count().to_frame().reset_index()
#df2.columns = ["index", "val"]
#df2

ct_fires = ct_fires_raw.count().to_frame().reset_index()
ct_fires.columns = ["index", "val"]
ct_fires

                                index    val
0                      Reporting Year  34125
1          Fire Department Header Key  34125
2                Fire Department Name  34125
3                       Incident date  34125
4                     Incident Number  34125
5                     Exposure Number  34125
6             Fire Department Station  28748
7                  Incident Type Code  34125
8                       Incident Type  34125
9         Aid Given or Received Code   34125
10              Aid Given or Received  34125
11                   Number of Alarms  32780
12                Alarm Date and Time  34125
13              Arrival Date and Time  34125
14  Incident Controlled Date and Time   8505
15    Last Unit Cleared Date and Time  34125
16              Fire Department Shift  22099
17                    Actions Taken 1  33905
18                    Actions Taken 2  10028
19                    Actions Taken 3   3077
20    Number of Suppression Apparatus  34125
21    Number of Suppression Personnel  34125
22            Number of EMS Apparatus  34125
23            Number of EMS Personnel  34125
24          Number of Other Apparatus  34125
25          Number of Other Personnel  34125
26                     Property Value   8246
27                       Propery Loss  15177
28                     Contents Value   7939
29                      Contents Loss  15091
30                Fire Service Deaths  34078
31              Fire Service Injuries  34078
32                  Other Fire Deaths    147
33                Other Fire Injuries    147
34              Detector Alerted Code   5492
35         Detector Alerted Occupants   5492
36  Hazardous Materials Released Code   4821
37       Hazardous Materials Released   4821
38           Mized Use Property Codes   6188
39                 Mixed Use Property   6188
40                  Property Use Code  31569
41                       Property Use  31726
42            Incident Street Address  34021
43          Incident Apartment Number   2435
44                      Incident City  34125
45                  Incident Zip Code  34125
46                       Census Tract   7126
47                           Location  34125

In [27]:
# check the names of all the columns and see if there are any rows with missing data
ct_fires = ct_fires_raw.count().to_frame().reset_index()
ct_fires.columns = ["index", "val"]

ct_fires_count = (len(ct_fires_raw)/100) * 80
display(ct_fires.head())
ct_fires_count

                        index    val
0              Reporting Year  34125
1  Fire Department Header Key  34125
2        Fire Department Name  34125
3               Incident date  34125
4             Incident Number  34125

27300.0

In [40]:
for i, row in ct_fires.iterrows():
    if row["val"] < ct_fires_count:
        print(i, row["index"], row["val"])

14 Incident Controlled Date and Time 8505
16 Fire Department Shift 22099
18 Actions Taken 2 10028
19 Actions Taken 3 3077
26 Property Value 8246
27 Propery Loss 15177
28 Contents Value 7939
29 Contents Loss 15091
32 Other Fire Deaths 147
33 Other Fire Injuries 147
34 Detector Alerted Code 5492
35 Detector Alerted Occupants 5492
36 Hazardous Materials Released Code 4821
37 Hazardous Materials Released 4821
38 Mized Use Property Codes 6188
39 Mixed Use Property 6188
43 Incident Apartment Number 2435
46 Census Tract 7126

In [51]:
# rename mistyped columns "Aid Given or Received Code " and "Propery Loss"
ct_fires_clean = ct_fires_raw.rename(columns={
    "Aid Given or Received Code " : "Aid Given or Received Code",
    "Propery Loss" : "Property Loss"
})

list(ct_fires_clean.columns)

['Reporting Year',
 'Fire Department Header Key',
 'Fire Department Name',
 'Incident date',
 'Incident Number',
 'Exposure Number',
 'Fire Department Station',
 'Incident Type Code',
 'Incident Type',
 'Aid Given or Received Code',
 'Aid Given or Received',
 'Number of Alarms',
 'Alarm Date and Time',
 'Arrival Date and Time',
 'Incident Controlled Date and Time',
 'Last Unit Cleared Date and Time',
 'Fire Department Shift',
 'Actions Taken 1',
 'Actions Taken 2',
 'Actions Taken 3',
 'Number of Suppression Apparatus',
 'Number of Suppression Personnel',
 'Number of EMS Apparatus',
 'Number of EMS Personnel',
 'Number of Other Apparatus',
 'Number of Other Personnel',
 'Property Value',
 'Property Loss',
 'Contents Value',
 'Contents Loss',
 'Fire Service Deaths',
 'Fire Service Injuries',
 'Other Fire Deaths',
 'Other Fire Injuries',
 'Detector Alerted Code',
 'Detector Alerted Occupants',
 'Hazardous Materials Released Code',
 'Hazardous Materials Released',
 'Mized Use Property Codes',
 'Mixed Use Property',
 'Property Use Code',
 'Property Use',
 'Incident Street Address',
 'Incident Apartment Number',
 'Incident City',
 'Incident Zip Code',
 'Census Tract',
 'Location']

In [52]:
# reduce to columns: 
# Reporting Year, Fire Department Name, Incident date, Incident Type,
# Aid Given or Received Code, Aid Given or Received, Number of Alarms, Alarm Date and Time,
# Arrival Date and Time, Last Unit Cleared Date and Time, Actions Taken 1, Actions Taken 2,
# Actions Taken 3, Property Value, Property Loss, Contents Value, Contents Loss,
# Fire Service Deaths, Fire Service Injuries, Other Fire Deaths, Other Fire Injuries,
# Property Use, Incident Street Address, Incident Apartment Number, Incident City, Incident Zip Code

ct_fires_clean = ct_fires_clean[["Reporting Year", "Fire Department Name", "Incident date", "Incident Type",
                                 "Aid Given or Received Code", "Aid Given or Received", "Number of Alarms", 
                                 "Alarm Date and Time", "Arrival Date and Time", "Last Unit Cleared Date and Time", 
                                 "Actions Taken 1", "Actions Taken 2", "Actions Taken 3", "Property Value", 
                                 "Property Loss", "Contents Value", "Contents Loss", "Fire Service Deaths", 
                                 "Fire Service Injuries", "Other Fire Deaths", "Other Fire Injuries", "Property Use", 
                                 "Incident Street Address", "Incident Apartment Number", "Incident City" , 
                                 "Incident Zip Code"]]

ct_fires_clean.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code
0,2015,WATERBURY FIRE DEPARTMENT,05/11/2015,"Electrical wiring/equipment problem, other.",N,No aid given or received.,1,05/11/2015 03:04:00 PM,05/11/2015 03:12:00 PM,05/11/2015 03:18:00 PM,...,NaN,0.0,0.0,NaN,NaN,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705
1,2015,THE TOWN OF SALEM,12/01/2015,Building fire. Excludes confined fires (113–118).,3,Mutual aid given to an outside fire service en...,0,12/01/2015 09:14:00 AM,12/01/2015 09:19:00 AM,12/01/2015 09:42:00 AM,...,NaN,0.0,0.0,NaN,NaN,NaN,Route 82,NaN,Salem,06420
2,2015,STONINGTON FIRE DEPT,09/07/2015,"Hazardous condition (no fire), other.",N,No aid given or received.,0,09/07/2015 05:50:00 PM,09/07/2015 05:54:00 PM,09/07/2015 06:30:00 PM,...,NaN,0.0,0.0,NaN,NaN,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378
3,2015,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,Power line down. Excludes people trapped by do...,3,Mutual aid given to an outside fire service en...,0,01/02/2015 12:06:00 PM,01/02/2015 12:13:00 PM,01/02/2015 01:58:00 PM,...,NaN,0.0,0.0,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065
4,2015,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,"Outside rubbish fire, other.",N,No aid given or received.,NaN,11/03/2015 03:06:00 AM,11/03/2015 03:10:00 AM,11/03/2015 03:45:00 AM,...,0.0,0.0,0.0,NaN,NaN,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756

In [54]:
# fill NAs for columns "Actions Taken 1", "Actions Taken 2", "Actions Taken 3", 
# and "Incident Apartment Number" with ''
ct_fires_clean[["Actions Taken 1", "Actions Taken 2", "Actions Taken 3", "Incident Apartment Number"]] = ct_fires_clean[["Actions Taken 1", "Actions Taken 2", "Actions Taken 3", "Incident Apartment Number"]].fillna("")


# fill NAs for columns "Other Fire Deaths", "Other Fire Injuries",
# "Property Loss", and "Contents Loss" with 0
ct_fires_clean[["Other Fire Deaths", "Other Fire Injuries", "Property Loss", "Contents Loss"]] = ct_fires_clean[["Other Fire Deaths", "Other Fire Injuries", "Property Loss", "Contents Loss"]].fillna(0)


# better syntax
ct_fires_clean = ct_fires_clean.fillna({"Actions Taken 1" : "", 
                                        "Actions Taken 2" : "", 
                                        "Actions Taken 3" : "",
                                        "Incident Apartment Number" : "",
                                        "Other Fire Deaths" : 0,
                                        "Other Fire Injuries" : 0, 
                                        "Property Loss" : 0,
                                        "Contents Loss" : 0
                                       })

# visualize to ensure it worked
ct_fires_clean[["Actions Taken 1", "Actions Taken 2", "Actions Taken 3", "Incident Apartment Number",
                "Other Fire Deaths", "Other Fire Injuries", "Property Loss", "Contents Loss"]].head()

,Actions Taken 1,Actions Taken 2,Actions Taken 3,Incident Apartment Number,Other Fire Deaths,Other Fire Injuries,Property Loss,Contents Loss
0,Remove hazard. Includes neutralizing a hazardo...,,,,0.0,0.0,0.0,0.0
1,Provide apparatus.,,,,0.0,0.0,0.0,0.0
2,,,,,0.0,0.0,0.0,0.0
3,"Assistance, other.",,,,0.0,0.0,0.0,0.0
4,Extinguishment by fire service personnel.,,,,0.0,0.0,0.0,0.0

In [55]:
# check counts
ct_fires_clean.count()

Reporting Year                     34125
Fire Department Name               34125
Incident date                      34125
Incident Type                      34125
Aid Given or Received Code         34125
Aid Given or Received              34125
Number of Alarms                   32780
Alarm Date and Time                34125
Arrival Date and Time              34125
Last Unit Cleared Date and Time    34125
Actions Taken 1                    34125
Actions Taken 2                    34125
Actions Taken 3                    34125
Property Value                      8246
Property Loss                      34125
Contents Value                      7939
Contents Loss                      34125
Fire Service Deaths                34078
Fire Service Injuries              34078
Other Fire Deaths                  34125
Other Fire Injuries                34125
Property Use                       31726
Incident Street Address            34021
Incident Apartment Number          34125
Incident City                      34125
Incident Zip Code                  34125
dtype: int64

In [56]:
# remove remaining rows with missing data
ct_fires_clean = ct_fires_clean.dropna(how='any')

ct_fires_clean.count()

Reporting Year                     7145
Fire Department Name               7145
Incident date                      7145
Incident Type                      7145
Aid Given or Received Code         7145
Aid Given or Received              7145
Number of Alarms                   7145
Alarm Date and Time                7145
Arrival Date and Time              7145
Last Unit Cleared Date and Time    7145
Actions Taken 1                    7145
Actions Taken 2                    7145
Actions Taken 3                    7145
Property Value                     7145
Property Loss                      7145
Contents Value                     7145
Contents Loss                      7145
Fire Service Deaths                7145
Fire Service Injuries              7145
Other Fire Deaths                  7145
Other Fire Injuries                7145
Property Use                       7145
Incident Street Address            7145
Incident Apartment Number          7145
Incident City                      7145
Incident Zip Code                  7145
dtype: int64

In [61]:
# incident city needs some cleaning
ct_fires_clean["Incident City"] = ct_fires_clean["Incident City"].str.title()

ct_fires_clean["Incident City"]

24             Derby
33             Derby
35        Bridgeport
36        Bridgeport
37         Greenwich
            ...
34027    Quaker Hill
34054      Waterford
34077      Waterford
34104    Quaker Hill
34107      Waterford
Name: Incident City, Length: 7145, dtype: object

In [62]:
# filter data to incidents that caused Property or Contents Loss
ct_fires_loss = ct_fires_clean.loc[(ct_fires_clean["Property Loss"] > 0) | (ct_fires_clean["Contents Loss"] > 0), :]

ct_fires_loss.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code
24,2015,CITY OF DERBY FIRE DEPT,09/04/2015,"Fire, other.",N,No aid given or received.,1,09/04/2015 03:49:00 PM,09/04/2015 03:50:00 PM,09/04/2015 03:59:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Street, other.",Roosevelt DR,,Derby,06418
66,2015,TOWN OF MANCHESTER,02/06/2015,"Fire, other.",N,No aid given or received.,1,02/06/2015 03:23:00 AM,02/06/2015 03:29:00 AM,02/06/2015 03:57:00 AM,...,500.0,0.0,0.0,0.0,0.0,Boarding/Rooming house. Includes residential h...,109 Foster ST,,Manchester,06040
69,2015,TOWN OF MANCHESTER,02/02/2015,"Mobile property (vehicle) fire, other.",N,No aid given or received.,1,02/02/2015 06:11:00 PM,02/02/2015 06:15:00 PM,02/02/2015 06:25:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Residential street, road, or residential drive...",300 Charter Oak ST,,Manchester,06040
94,2015,NEW LONDON FIRE DEPARTMENT,05/09/2015,"Special outside fire, other.",N,No aid given or received.,0.0,05/09/2015 01:31:00 PM,05/09/2015 01:35:00 PM,05/09/2015 01:40:00 PM,...,1.0,0.0,0.0,0.0,0.0,Street or road in commercial area.,BANK ST,,New London,06320
153,2015,BUNGAY FIRE BRIGADE,05/23/2015,Cooking fire involving the contents of a cooki...,N,No aid given or received.,0.0,05/23/2015 07:07:00 AM,05/23/2015 07:26:00 AM,05/23/2015 09:09:00 AM,...,4000.0,0.0,0.0,0.0,0.0,"1- or 2-family dwelling, detached, manufacture...",Jeans CT,,Woodstock,6281

In [63]:
# count how many incidents occured in each city
incident_count_city = ct_fires_loss["Incident City"].value_counts()

incident_count_city

Hartford           264
Bridgeport         229
Waterbury          189
New London         120
Manchester          84
                  ...
West Suffield        1
South Woodstock      1
Willimantic          1
Storrs               1
Coventry             1
Name: Incident City, Length: 88, dtype: int64

In [68]:
# convert the city_counts Series into a DataFrame
city_incident_df = pd.DataFrame(incident_count_city)

city_incident_df.head()

            Incident City
Hartford              264
Bridgeport            229
Waterbury             189
New London            120
Manchester             84

In [70]:
# convert the column name into "Sum of Loss Incidents"
city_incident_df = city_incident_df.rename(columns={"Incident City" : "Sum of Loss Incidents"})

city_incident_df.head()

            Sum of Loss Incidents
Hartford                      264
Bridgeport                    229
Waterbury                     189
New London                    120
Manchester                     84

In [76]:
# calculate the number of deaths from fire incidents where loss occurred
tot_deaths = (ct_fires_loss["Fire Service Deaths"] + ct_fires_loss["Other Fire Deaths"]).sum()
tot_deaths

12.0

In [84]:
# want to calculate fire department response times, but if we look at the data types fo relevant columns...
# we see that we have an object (which is a string in the case of the dates)
ct_fires_loss.dtypes

Reporting Year                       int64
Fire Department Name                object
Incident date                       object
Incident Type                       object
Aid Given or Received Code          object
Aid Given or Received               object
Number of Alarms                    object
Alarm Date and Time                 object
Arrival Date and Time               object
Last Unit Cleared Date and Time     object
Actions Taken 1                     object
Actions Taken 2                     object
Actions Taken 3                     object
Property Value                     float64
Property Loss                      float64
Contents Value                     float64
Contents Loss                      float64
Fire Service Deaths                float64
Fire Service Injuries              float64
Other Fire Deaths                  float64
Other Fire Injuries                float64
Property Use                        object
Incident Street Address             object
Incident Apartment Number           object
Incident City                       object
Incident Zip Code                   object
dtype: object

In [85]:
# convert relevant date columns to datetime
ct_fires_loss = ct_fires_loss.astype({"Alarm Date and Time" : "datetime64",
                                      "Arrival Date and Time" : "datetime64",
                                      "Last Unit Cleared Date and Time" : "datetime64"})

ct_fires_loss.dtypes

Reporting Year                              int64
Fire Department Name                       object
Incident date                              object
Incident Type                              object
Aid Given or Received Code                 object
Aid Given or Received                      object
Number of Alarms                           object
Alarm Date and Time                datetime64[ns]
Arrival Date and Time              datetime64[ns]
Last Unit Cleared Date and Time    datetime64[ns]
Actions Taken 1                            object
Actions Taken 2                            object
Actions Taken 3                            object
Property Value                            float64
Property Loss                             float64
Contents Value                            float64
Contents Loss                             float64
Fire Service Deaths                       float64
Fire Service Injuries                     float64
Other Fire Deaths                         float64
Other Fire Injuries                       float64
Property Use                               object
Incident Street Address                    object
Incident Apartment Number                  object
Incident City                              object
Incident Zip Code                          object
dtype: object

In [86]:
# now it is possible to find the response time in seconds
# create a new column for "Response Time (seconds)" and use .dt.total_seconds() to calculate the seconds
ct_fires_loss["Response Time (s)"] = (ct_fires_loss["Arrival Date and Time"] - ct_fires_loss["Alarm Date and Time"]).dt.total_seconds().astype("int")

ct_fires_loss.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Response Time (s)
24,2015,CITY OF DERBY FIRE DEPT,09/04/2015,"Fire, other.",N,No aid given or received.,1,2015-09-04 15:49:00,2015-09-04 15:50:00,2015-09-04 15:59:00,...,0.0,0.0,0.0,0.0,"Street, other.",Roosevelt DR,,Derby,06418,60
66,2015,TOWN OF MANCHESTER,02/06/2015,"Fire, other.",N,No aid given or received.,1,2015-02-06 03:23:00,2015-02-06 03:29:00,2015-02-06 03:57:00,...,0.0,0.0,0.0,0.0,Boarding/Rooming house. Includes residential h...,109 Foster ST,,Manchester,06040,360
69,2015,TOWN OF MANCHESTER,02/02/2015,"Mobile property (vehicle) fire, other.",N,No aid given or received.,1,2015-02-02 18:11:00,2015-02-02 18:15:00,2015-02-02 18:25:00,...,0.0,0.0,0.0,0.0,"Residential street, road, or residential drive...",300 Charter Oak ST,,Manchester,06040,240
94,2015,NEW LONDON FIRE DEPARTMENT,05/09/2015,"Special outside fire, other.",N,No aid given or received.,0.0,2015-05-09 13:31:00,2015-05-09 13:35:00,2015-05-09 13:40:00,...,0.0,0.0,0.0,0.0,Street or road in commercial area.,BANK ST,,New London,06320,240
153,2015,BUNGAY FIRE BRIGADE,05/23/2015,Cooking fire involving the contents of a cooki...,N,No aid given or received.,0.0,2015-05-23 07:07:00,2015-05-23 07:26:00,2015-05-23 09:09:00,...,0.0,0.0,0.0,0.0,"1- or 2-family dwelling, detached, manufacture...",Jeans CT,,Woodstock,6281,1140

#### Hints

* A list of a DataFrame's data types can be checked by accessing its `dtypes` property.

* To change a non-numeric column to a numeric column, use the `df.astype(<datatype>)` method and pass in the desired data type as the parameter.

#### References

National Fire Incident Reporting System (NFIRS). Connecticut Fire Department Incidents (2012-2016). [https://data.ct.gov/Public-Safety/Connecticut-Fire-Department-Incidents-2012-2016-/qem9-rt8k](https://data.ct.gov/Public-Safety/Connecticut-Fire-Department-Incidents-2012-2016-/qem9-rt8k), reduced in Pandas.