## Hey Arnold!

In this activity, you will take a premade DataFrame of “Hey Arnold!” characters and reorganize it so that it is easier to understand.

### Instructions

Use Pandas to create a DataFrame with the following columns and values:

* “Character_in_show”: Arnold, Gerald, Helga, Phoebe, Harold, Eugene

* “color_of_hair”: blonde, black, blonde, black, unknown, red

* “Height”: average, tallish, tallish, short, tall, short

* “Football_Shaped_Head”: True, False, False, False, False, False

Note that the column names are inconsistent and difficult to work with. Rename them to the following, respectively:

* “Character”, “Hair Color”, “Height”, “Football Head”

Create a new table that contains all of the columns in the following order:

* “Character”, “Football Head”, “Hair Color”, “Height”

In [6]:
# import dependencies
import pandas as pd

In [7]:
# create a dataframe with given columns and value
hey_arnold_df = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold_df

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [8]:
hey_arnold_cleaned = hey_arnold_df.rename(columns={"Character_in_show" : "Character", "color_of_hair" : "Hair Color",
                                                  "Football_Shaped_Head" : "Football Head"})

hey_arnold_cleaned

  Character Hair Color   Height  Football Head
0    Arnold     blonde  average           True
1    Gerald      black  tallish          False
2     Helga     blonde  tallish          False
3    Phoebe      black    short          False
4    Harold    unknown     tall          False
5    Eugene        red    short          False

In [9]:
hey_arnold_reordered = hey_arnold_cleaned[["Character", "Football Head", 
                                           "Hair Color", "Height"]]

hey_arnold_reordered

  Character  Football Head Hair Color   Height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall
5    Eugene          False        red    short

In [10]:
hey_arnold_reordered.to_excel("hey_arnold.xlsx")